{% extends "base.html" %}
{% load static %}
{% block title %}Shift List{% endblock %}
{% include "messages.html" %}
{% block content %}
<a class="btn btn-success" href="{% url "tag-create" %}">Add tag</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.name }}</td>
                <td>
                    <a href="{% url "tag-delete" pk=tag.pk %}"><img alt="Delete"
                                                                            src="{% static "images/delete.svg" %}"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if is_paginated %}
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ page_obj.previous_page_number }}">
                            < poprzednia</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link"
                                                          href="">
                            < poprzednia</a></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        {% ifequal i page_obj.number %}
                            <li class="page-item active"><b><a class="page-link"
                                                               href="?page={{ i }}">{{ i }}</a></b>
                            </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endifequal %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">następna
                            >
                        </a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link"
                                                          href="">następna
                            >
                        </a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}